*{
  background-color: #C7D0CC;

}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
}
.head img {
  width: 40%;
}
.head p {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
}
.text {
  font-size: 45px;
  color: #b83b5e;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.main img {
  width: 50%;
}
.bur_block {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.bur_block p {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
}
